parameters:
	level: 5
	paths:
		- wp-checksum-verifier.php
		- includes
		- uninstall.php
	excludePaths:
		- vendor/*
		- languages/*
		- lib/*

includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
